<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>secciones</title>

    <link rel="stylesheet" href="../css/style-secciones.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- barra sólo para mobile -->
    <header id="nav"class="container-fluid visible-sm hidden-md hidden-lg">
      <nav class="row">
        <div class="col-xs-12 hidden-sm-up ">
          <div class="row">
            <div class="col-xs-3 col-offset-xs-2">
              <a href="../index.html"><img src="../assets/img/LOGO.png" alt=""></a>
            </div>
            <div class="col-xs-3 col-offset-xs-2">
              <a href="#portafolio"><img src="../assets/img/portafolio.png" alt=""><strong>Portafolio</strong></a>
            </div>
            <div class="col-xs-3 col-offset-xs-2">
              <a href="#otros"><img src="../assets/img/otros.png" alt=""><strong>Otros</strong></a>
            </div>
            <div class="col-xs-3 col-offset-xs-2">
              <a href="#contacto"><img src="../assets/img/contacto.png" alt=""><strong>Contacto</strong></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- seccion solo para mobile -->
    <section id="about-me" class="container-fluid visible-sm hidden-md hidden-lg">
      <div class="row">
          <div class="col-xs-4">
            <img src="../assets/img/fotogit.jpg" alt="">
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="col-xs-8 col-xs-offset-2">
            <p>¡Hola! Soy Adriana Hernández, front-end developer,diseñadora y comunicadora visual.
            Apasionada de la tecnología,el cine, la fotografía y la música.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="portafolio" class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="titulos">Portafolio</h1>
				</div>
			</div>

      <section class="container contenedor-trabajos margin-bottom">
        <div class="row center-block margin-top margin-left margin-bottom">
          <div class="col-xs-8  col-md-4">
            <img src="../assets/img/passeante.jpg" alt="passeante" class="trabajos img-responsive">
            <div class="overlay">
              <div class="text">Passeante</div>
            </div>
          </div>
          <div class="col-xs-12  col-md-4">
            <img src="../assets/img/yodecido.jpg" alt="yodecido" class="trabajos img-responsive">
            <div class="overlay ">
              <div class="text">Yo decido</div>
            </div>
          </div>
          <div class="col-xs-12  col-md-4">
            <img src="../assets/img/labcar.jpg" alt="labcar" class="trabajos img-responsive">
            <div class="overlay">
              <div class="text">LabCar</div>
            </div>
          </div>
          </div>
        </div>
      </section>
      </section>

      <section id="skills" class="container-fluid padding-top">
        <div class="row">
  				<div class="col-xs-12 col-md-12 skills-barra">
  					<h1 class="titulos">Skills</h1>
  				</div>
  			</div>
        <section id="contenedor-skills"class="container margin-bottom margin-top ">
          <div class="row ">
              <div class="col-xs-3 color-skills">
                <h4 class="">JavaScript</h4>
              </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                  70%
                </div>
              </div>
              <div class="col-xs-3 ">
                <h4 class="center-block">Intermedio</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>HTML5</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                  70%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Intermedio</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>CSS3</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                  70%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Intermedio</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>Frameworks</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                  70%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Intermedio</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>jQuery</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                  30%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Básico</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>Photoshop</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                  30%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Básico</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>Ilustrator</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                  70%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Intermedio</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>Premiere</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                  70%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Intermedio</h4>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>Encore</h4>
            </div>
              <div class="col-xs-6 progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                  30%
                </div>
              </div>
              <div class="col-xs-3">
                <h4>Básico</h4>
              </div>
          </div>
        </section>

      </section>

      <section id="otros" class="container-fluid">
        <header class="row">
  				<div class="col-xs-12">
  					<h1 class="titulos">Otros proyectos</h1>
  				</div>
  			</header>
        <div class="row principal-otros">
          <div class="col-xs-6 col-md-6 center-block presentacion-otros">
            <p class="parrafo-otros">
              Además de ser front-end developer, desarrollé proyectos de cine y fotografía,
              siempre he estado interesada en el desarrollo social, estos proyectos van enfocados
              en gran parte a ese sector, a que aquellas personas que de alguna forma han sido relegadas
              encuentren su punto de fuga en el arte.
            </p>
          </div>
          <div class="col-xs-6  col-md-6 iconos-otros">
            <div class="col-xs-3  center-block">
              <img src="../assets/img/cine.png" alt="">
              <span><a href="#">Cine</a></span>
            </div>
            <div class="col-xs-3 center-block">
              <img src="../assets/img/foto.png" alt="">
              <span id="botonFoto"><a href="#fotografia" >Fotografía</a></span>
            </div>
          </div>
        </div>
        <!-- <section id="cine">

        </section> -->
        <section id="fotografia">
          <div class="row">
    				<div class="col-xs-12 col-md-12 skills-barra">
    					<h1 class="titulos">Fotografía</h1>
    				</div>
    			</div>
          <div class="row center-block">
            <div class="col-xs-10 col-xs-offset-1 col-md-10 ">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="../assets/img/01.jpg" alt="...">
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                    <img src="../assets/img/02.jpg" alt="...">
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                    <img src="../assets/img/03.jpg" alt="...">
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </section>
      </section>


      <footer id="contacto" class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-offset-xs-4 col-md-12">
    					<h1>¡Contáctame!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-2 col-md-2">
              <a href="mailto:adriana.herya@gmail.com"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-2 col-md-2">
              <a href="https://github.com/AdrianaHY" target="_blank">  <i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-2 col-md-2">
              <a href="https://api.whatsapp.com/send?phone=525540271944">  <i class="fa fa-whatsapp fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-2 col-md-2">
              <a href="#">  <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-2 col-md-2">
              <a href="#">  <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-2 col-md-2">
              <a href="assets/img/AdrianaHernandez.pdf" download="CV-Adriana">  <i class="fa fa-download fa-4x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>



      <script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://use.fontawesome.com/0c09de3e81.js"></script>
      <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
